<div class="row">
  <div class="col-sm-2">
    <app-user-profile-sidebar></app-user-profile-sidebar>
  </div>
  <div class="col-sm-7">
    <div class="container">
      <div id="accordion">
        <div class="card" >
          <div class="card-header">
            <a class="card-link">
              asd
            </a>
          </div>
          <div class="collapse show" data-parent="#accordion">
            <div class="card-body">
              <h6>Order Price: <a>asd</a></h6>
              <hr>
              <h6>Order Description:</h6>
              <p>asd</p>
              <hr>
              <h6>Order Delivery Time:</h6>
              <p>asd</p>
              <hr>

              <button type="button" class="btn btn-primary" routerLink="/main/userprofile/payment">Payment</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <app-rightsidebar-user-detail></app-rightsidebar-user-detail>
  </div>
</div>
