<nav class="navbar navbar-expand-lg navbar-light bg-light border border-right-0 border-info rounded">
  <a class="navbar-brand" routerLink="/main">Ask and Freelance</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/main">Question Answer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="freelance">Freelance</a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0 form-signin"(submit)="onSearch(search)" #search="ngForm">
      <input class="form-control mr-sm-2" name="search" type="text" ngModel  placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
    </form>
     <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" (click)="signout()">Sign out</a>
      </li>
      <li *ngIf="loggedIn; else notShow" class="nav-item">
        <a class="nav-link" routerLink="/main/userprofile">{{user.username}}</a>
      </li>
       <ng-template #notShow>
         <li class="nav-item">
           <a class="nav-link" routerLink="../">Login</a>
         </li>
       </ng-template>

    </ul>
  </div>
</nav>
