<div class="row">
  <div class="col-sm-12 card card-body">
    <div class="card" style="width:fit-content;">
      <img class="card-img-top" src="assets/photos/angular.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h5 class="card-title"><a routerLink="gig_details">Angular</a></h5>
        <p>4.2/5.0</p>
      </div>
    </div>
    <h4>Description:</h4>
    <p>Hello there, programming and development is my profession and passion....so feel free to ask or consult, and if you want to convert your idea into reality then I am here to help you.....Now Let's begin</p>

  </div>
</div>
