<div class="row">
  <div class="col-sm-2">
    <div class="card">
      <div class="list-group">
        <h6 class="list-group-item">Jobs Categories</h6>
        <a href="#" class="list-group-item">CS</a>
        <a href="#" class="list-group-item">IT</a>
        <a href="#" class="list-group-item">python</a>
      </div>
    </div>
  </div>
  <div class="col-sm-7">
    <div class="card">
      <div class="card-body">
        <h4 id="job_title"> MEAN Stack Developer</h4>
        <h5 id="organization_name"> ATRIX Digitals Limited</h5>
        <p id="salary"><span>PKR/.&nbsp;</span>35000-45000</p>
      </div>
      <hr>
      <div class="card-body">
        <h5 id="job_description">Job Description:</h5>
        <p> While the day-to-day duties of finance associates are determined by their employer, there are many core
          tasks associated with the role.

          Prepare Budgets

          Finance associates assist with a company or department’s yearly operating budget. This includes developing,
          analyzing, and interpreting statistical and accounting information to evaluate operating results in terms of
          profitability and performance against budget.

          Compile Financial Reports

          Finance associates often prepare reports that outline the company’s financial position regarding income,
          expenses, and earnings based on past, present, and future operations. This includes revising and updating
          reports to be more useful and efficient and furnishing external reports as necessary.

          Assist with Audits

          These professionals assist with audits, reviews, and tax preparation. They closely examine financial and
          accounting records, compile data, and conduct financial reviews and audits. This requires familiarity with
          recognized accounting standards and a basic understanding of the tax code.

          Compliance Assistance

          Finance associates help develop and implement policies, procedures, and best practices for their company’s
          financial and accounting operations and for general compliance. They might also review proposed changes to
          existing policies and procedures to better comply with current laws and regulations.</p>
        <hr>
        <h5 id="qualification"> Qualification: </h5><span>Bachelors in Computer Science</span>
        <hr>
        <h5 id="skills">Skills:</h5><span>Node JS</span><span>Angular JS</span>
        <hr>
        <h5>Job Details:</h5>

        <!--<span><b>Experience Level:</b></span>-->
        <!--<span>2-3 years</span>-->
        <!--<br>-->

        <!--<span><b>Career Level:&nbsp;</b></span>-->
        <!--<span>Entry Level</span>-->

        <div col-sm-6>
          <div class="row">
            <div class="col-sm-3 text-left">

              <b>Experience Level:</b>
            </div>
            <div class="col-sm-6 ">
              <p>2-3 years</p>
            </div>
          </div>
        </div>
        <div col-sm-6>
          <div class="row">
            <div class="col-sm-3 text-left">
              <b>Career Level:</b>
            </div>
            <div class="col-sm-6 ">
              <p>Entry Level</p>
            </div>
          </div>
        </div>
        <hr>
        <button type="button" class="float-right btn btn-primary" (click)="apply_job()">Apply</button>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="list-group">
        <h6 class="list-group-item">Trending Jobs</h6>
        <a href="#" class="list-group-item">CS</a>
        <a href="#" class="list-group-item">IT</a>
        <a href="#" class="list-group-item">python</a>
      </div>
    </div>
  </div>
</div>
