<div class="card col-sm-12 ">
  <div class="row color">
    <div class="card" style="width:15rem;">
      <img class="card-img-top" src="assets/photos/angular.png" alt="Card image" style="width:100%">

      <h5 class="card-title"><a routerLink="gig_details">Angular</a></h5>
      <p>Angular is a front end javascript framework</p>
      <p>4.2/5.0</p>

    </div>
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="assets/photos/angular.png" alt="Card image cap">

      <h5 class="card-title"><a routerLink="gig_details">Angular</a></h5>
      <p>4.2/5.0</p>

    </div>
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="assets/photos/angular.png" alt="Card image cap">

      <h5 class="card-title"><a routerLink="gig_details">Angular</a></h5>
      <p>4.2/5.0</p>

    </div>
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="assets/photos/angular.png" alt="Card image cap">

      <h5 class="card-title"><a routerLink="gig_details">Angular</a></h5>
      <p>4.2/5.0</p>

    </div>
    <div class="card" style="width: 15rem;">
      <img class="card-img-top" src="assets/photos/angular.png" alt="Card image cap">

      <h5 class="card-title"><a routerLink="gig_details">Angular</a></h5>
      <p>4.2/5.0</p>

    </div>
  </div>
</div>


<div class="card col-sm-12">
  <div class="row color">
    <div class="card-body" style="width: 25rem;">
      <div class="card-header">
        Details:
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Total Gigs: <span>15</span></li>
        <li class="list-group-item">Orders Completed: <span>149</span></li>
        <li class="list-group-item">Average Gigs Rating : <span>4.2/5.0</span></li>
      </ul>
    </div>
  </div>

</div>