<div class="row">
  <div class="col-sm-7">
    <div class="row color">
      <div class="card" style="width:14rem;">
        <img class="card-img-top" src="assets/photos/angular.png" alt="Card image" style="width:100%">

        <h5 class="card-title"><a routerLink="gig_details">Angular</a></h5>
        <p>Angular is a front end javascript framework</p>
        <p>4.2/5.0</p>

      </div>
      <div class="card" style="width: 14rem;">
        <img class="card-img-top" src="assets/photos/angular.png" alt="Card image cap">

        <h5 class="card-title"><a routerLink="gig_details">Angular</a></h5>
        <p>4.2/5.0</p>

      </div>
      <div class="card" style="width: 14rem;">
        <img class="card-img-top" src="assets/photos/angular.png" alt="Card image cap">

        <h5 class="card-title"><a routerLink="gig_details">Angular</a></h5>
        <p>4.2/5.0</p>

      </div>
      <div class="card" style="width: 14rem;">
        <img class="card-img-top" src="assets/photos/angular.png" alt="Card image cap">

        <h5 class="card-title"><a routerLink="gig_details">Angular</a></h5>
        <p>4.2/5.0</p>

      </div>
      <div class="card" style="width: 14rem;">
        <img class="card-img-top" src="assets/photos/angular.png" alt="Card image cap">

        <h5 class="card-title"><a routerLink="gig_details">Angular</a></h5>
        <p>4.2/5.0</p>

      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="card color">
      <div class="card-body  col-sm-12" style="width: 25rem;">
        <div class="card-header">
          Details:
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Total Gigs : <span>15</span></li>
          <li class="list-group-item">Orders Completed : <span>149</span></li>
          <li class="list-group-item">Average Gigs Rating : <span>4.2/5.0</span></li>
          <li class="list-group-item">Questions Posted : <span>14</span></li>
          <li class="list-group-item">Answer Posted : <span>25</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="card border-info mb-3 col-sm-11">
    <div class="row tags">
      <div class="col-sm-11">
        <h4>User Questions</h4>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3">
          <p class="card-text small question">User</p>
        </div>
        <div class="col-md-9">
          <p>what is php?</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-9 small question">
          <p>10views</p>
        </div>
        <div class="col-sm-2 small">
          <a href="#" class="card-link">php</a>
          <a href="#" class="card-link">java</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="card col-sm-11">
    <div class="row tags">
      <div class="col-sm-11">
        <h4>User Questions</h4>
      </div>
    </div>

    <div class="card-body">
      <div class="card border-info mb-3">
        <div class="row">
          <div class="col-md-3">
            <p class="card-text small question">AhmedMeo1997</p>
          </div>
          <div class="col-md-9">
            <p>What is Java?</p>
          </div>
        </div>
        <div class="card card-body">
          <div class="row">
            <div class="col-md-3">
              <p class="card-text small">jasim1996</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p>Java is a programming language</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->