<div class="row">
  <div class="col-sm-4">
    <div class="card color">
      <div class="card-body  col-sm-12" style="width: 25rem;">
        <div class="card-header">
          Hamid Details:
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Total Gigs : <span></span></li>
          <li class="list-group-item">Orders Completed : <span></span></li>
          <li class="list-group-item">Average Gigs Rating : <span></span></li>
          <li class="list-group-item">Questions Posted : <span></span></li>
          <li class="list-group-item">Answer Posted : <span></span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card color">
      <div class="card-body  col-sm-12" style="width: 25rem;">
        <div class="card-header">
          Hamid Details:
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Total Gigs : <span></span></li>
          <li class="list-group-item">Orders Completed : <span></span></li>
          <li class="list-group-item">Average Gigs Rating : <span></span></li>
          <li class="list-group-item">Questions Posted : <span></span></li>
          <li class="list-group-item">Answer Posted : <span></span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
  <div class="card color">
    <div class="card-body  col-sm-12" style="width: 25rem;">
      <div class="card-header">
        Hamid Details:
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Total Gigs : <span></span></li>
        <li class="list-group-item">Orders Completed : <span></span></li>
        <li class="list-group-item">Average Gigs Rating : <span></span></li>
        <li class="list-group-item">Questions Posted : <span></span></li>
        <li class="list-group-item">Answer Posted : <span></span></li>
      </ul>
    </div>
  </div>
</div>
</div>
