<div class="row">
  <div class="col-sm-4" *ngFor="let user of applicants">
    <div class="card color">
      <div class="card-body  col-sm-12" style="width: 25rem;">
        <div class="card-header">
          {{user.username}} Details:
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Total Gigs : <span>{{user.gigs.length}}</span></li>
          <li class="list-group-item">Orders Completed : <span>{{user.ordersAccepted.length}}</span></li>
          <li class="list-group-item">Average Gigs Rating : <span></span></li>
          <li class="list-group-item">Questions Posted : <span>{{user.questions.length}}</span></li>
          <li class="list-group-item">Answer Posted : <span>{{user.answers.length}}</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
