<div class="row">
  <div class="col-sm-2">
    <div class="card">
      <app-sidebar-question></app-sidebar-question>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="card">
      <div class="card-body">

        <div class="card border-info mb-3">
          <div class="card">
            <div class="row">
              <div class="col-md-3">
                <p class="card-text small question">AhmedMeo1997</p>
              </div>
              <div class="col-md-9">
                <p><a href="#" class="card-link">{{answers.question}}</a></p>
              </div>
            </div>
            <div *ngFor="let a of answers.answer" class="card card-body">
              <div class="row">
                <div class="col-md-3">
                  <p class="card-text small">jasim1996</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p><a href="#" class="card-link">{{a.answer}}</a></p>
                </div>
              </div>

            </div>
            <!--<div class="card card-body">-->
              <!--<div class="row">-->
                <!--<div class="col-md-3">-->
                  <!--<p class="card-text small">jasim1996</p>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                  <!--<p><a href="#" class="card-link">Php is a server side scripting language.</a></p>-->
                <!--</div>-->
              <!--</div>-->


            <!--</div>-->
            <div class="row">
              <div class="col-sm-9 small question">
                <p>10 views &nbsp;&nbsp;&nbsp; {{answers.answer.length}} Answers</p>
              </div>
              <div class="col-sm-2 small">
                <a href="#" class="card-link">{{answers.category}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card abc">
      <div class="card-body">
        <div class="card border-info mb-3">

            <div class="row">
              <div class="col-sm-12">
                <form>
                  <div class="form-group">
                    <textarea class="form-control" rows="7" id="comment" placeholder="Enter Answer"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </div>

        </div>
      </div>
    </div>

  </div>
  <div class="col-sm-2">
    <div class="card">
      <app-trendingtagsquestion></app-trendingtagsquestion>
    </div>
  </div>

</div>
