<div class="list-group">
  <h6 class="list-group-item active">User Links</h6>
  <a routerLink="/main/userprofile/myquestion" class="list-group-item">My Questions</a>
  <a routerLink="/main/userprofile/myanswer" class="list-group-item">My Answers</a>
  <a routerLink="/main/userprofile/chat" class="list-group-item">Chat</a>
  <a routerLink="/main/userprofile/order-requests" class="list-group-item">Orders Request</a>
    <a routerLink="/main/userprofile/my-orders" class="list-group-item">My Orders</a>
  <a routerLink="/main/userprofile/account" class="list-group-item">My Account</a>
  <a routerLink="/main/userprofile/pending-orders" class="list-group-item">Pending Orders</a>
  <a routerLink="/main/userprofile/myjob/{{userid}}" class="list-group-item">My Jobs</a>
  <!--<a routerLink="/main/userprofile/myjob-applied" class="list-group-item">My Jobs Applied</a>-->
  <a class="list-group-item">Sign out</a>
</div>
