<div class="row">
  <div class="col-sm-2">
    <app-user-profile-sidebar></app-user-profile-sidebar>
  </div>
  <div class="col-sm-7">
    <div class="container">
      <div id="accordion">
        <div class="card" *ngFor="let order of pendingOrders">
          <div class="card-header">
            <a class="card-link">
              {{order.title}}
            </a>
          </div>
          <div class="collapse show" data-parent="#accordion">
            <div class="card-body">
              <h6>Order Price: <a>{{order.amount}}</a></h6>
              <hr>
              <h6>Order Description:</h6>
              <p>{{order.description}}</p>
              <hr>
              <h6>Order Delivery Time:</h6>
              <p>{{order.time_limit}}</p>
              <hr>
              <h6>Order Status:</h6>
              <p>Completed : {{order.completed}}</p>
              <hr>
              <button type="button" class="btn btn-primary" style="float: left; background-color: #31708F" (click)="onComplete(order.userid,order._id,order.gig_id)">Complete</button>
              <input type="file"
                     id="file"
                     class="custom-file-upload"
                     (change)="handleFileInput($event.target.files)">
              <button type="button" class="btn btn-primary" style="float: right; background-color: #31708F" (click)="onCancel()">Cancel Order</button>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <app-rightsidebar-user-detail></app-rightsidebar-user-detail>
  </div>
</div>
