<div class="row">
  <div class="col-sm-2">
    <div class="card">
      <div class="list-group">
        <h6 class="list-group-item">Jobs Categories</h6>
        <a href="#" class="list-group-item">CS</a>
        <a href="#" class="list-group-item">IT</a>
        <a href="#" class="list-group-item">python</a>
      </div>
    </div>
  </div>
  <div class="col-sm-7">
    <div class="card">
      <div class="row tags">
        <div class="col-sm-11">
          <button type="button" class="float-right btn btn-primary" (click)="post_job()">Post Job</button>
          <h4>Jobs</h4>
        </div>
      </div>
      <div class="card-body">
        <div class="card border-info mb-3">
          <div class="card">
            <div class="row">
              <div class="col-md-3">
                <p class="card-text small question">&nbsp;User</p>
              </div>
              <div class="col-md-9">
                <p><a class="card-link">Senior Software Engineer</a></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-11">
                <p>&nbsp;Senior software engineer required for a big firm. My name is Goku and i am not a terrorist.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-10"></div>
              <div class="col-sm-2 btn-margin">
                <button type="button" class="btn btn-primary">Apply</button>
              </div>

            </div>
          </div>
        </div>
        <div class="card border-info mb-3 ">
          <div class="card ">
            <div class="row">
              <div class="col-md-3">
                <p class="card-text small question">&nbsp;User</p>
              </div>
              <div class="col-md-9">
                <p><a class="card-link">Senior Software Engineer</a></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-11">
                <p>&nbsp;Senior software engineer required for a big firm. My name is Goku and i am not a terrorist.</p>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-10"></div>
                <div class="col-sm-2 btn-margin">
                  <button type="button" class="btn btn-primary">Apply</button>
                </div>
  
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="list-group">
        <h6 class="list-group-item">Trending Jobs</h6>
        <a href="#" class="list-group-item">CS</a>
        <a href="#" class="list-group-item">IT</a>
        <a href="#" class="list-group-item">python</a>
      </div>
    </div>
  </div>