<div class="card">
  <div class="card-body">
    <h5>My Answers</h5>
    <hr>
    <div class="card card-answer border-info mb-3">
      <div class="card card-body">
        <div class="row">
          <div class="col-md-3">
            <p class="card-text small question">AhmedMeo1997</p>
          </div>
          <div class="col-md-9">
            <p><a href="#" class="card-link">What is Mern stack?</a></p>
          </div>
        </div>
        <div class="card-body">
          <hr>
          <div class="row">
            <div class="col-md-3">
              <p class="card-text small">jasim1996</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <p><a href="#" class="card-link">MERN stack is a stack.</a></p>
            </div>
          </div>
          <hr>

        </div>
        <div class="col-sm-12 small">
          <a href="#" class="card-link float-right">MERN</a>
        </div>
      </div>
    </div>
  </div>
</div>
