<div class="row">
  <div class="card-body" style="background: #54b5f6 !important;">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-1">
            <img src="https://via.placeholder.com/60" class="circle">
          </div>
          <div class="col-sm-8">
            <span style="color: white">username</span>
            <p class="isOnline" style="color: white">Online</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 chat-body">
    <div class="row">
      <div class="col-sm-12">
        <div class="message-wrapper">
          <div class="row">
            <div class="left col-sm-12">
              <div class="chat-bubble left slide-left">
                <div class="message">
                  <p>left message</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="right col-sm-12">
              <div class="chat-bubble right slide-right">
                <div class="message">
                  <p>right message</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="left col-sm-12">
              <div class="chat-bubble left slide-left">
                <div class="message">
                  <p>left message</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="right col-sm-12">
              <div class="chat-bubble right slide-right">
                <div class="message">
                  <p>right message</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="right col-sm-12">
              <div class="chat-bubble right slide-right">
                <div class="message">
                  <p>right message</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-sm-12">
    <div class="row">
      <div class="chat-body-footer col-sm-12">
        <div class="input">
          <form (ngSubmit)="SendMessage()">
            <div class="row">
              <div class="input field col-sm-10">
                <input type="text" style="width:inherit; height: 40px;" name="message">
              </div>
              <div class="col-sm-2">
                <button type="button" class="btn btn-primary" style="width: inherit">Send</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

</div>
