<div class="row">
  <div class="col-sm-7">

    <div class="row color">

      <div class="col-sm-10">
        <button type="button" class="btn btn-primary" (click)="addnewgigs()">Add New Gigs</button>
      </div>

      <div class="card gig-card" style="height: 19rem; width: 16rem;">
        <img class="card-img-top" src="assets/photos/angular.png" alt="Card image" style="width:100%">
        <h6 class="card-title"><a routerLink="gig_details">Angular</a></h6>
        <p class="small">Angular is a front end javascript framework and goku duzz duzz</p>
        <p>4.2/5.0</p>
      </div>
      <div class="card gig-card" style="height: 19rem; width: 16rem;">
        <img class="card-img-top" src="assets/photos/angular.png" alt="Card image" style="width:100%">
        <h6 class="card-title"><a routerLink="gig_details">Angular</a></h6>
        <p class="small">Angular is a front end javascript framework and goku duzz duzz</p>
        <p>4.2/5.0</p>
      </div>

      <div class="card gig-card" style="height: 19rem; width: 16rem;">
        <img class="card-img-top" src="assets/photos/angular.png" alt="Card image" style="width:100%">
        <h6 class="card-title"><a routerLink="gig_details">Angular</a></h6>
        <p class="small">Angular is a front end javascript framework and goku duzz duzz</p>
        <p>4.2/5.0</p>
      </div>
      <div class="card gig-card" style="height: 19rem; width: 16rem;">
        <img class="card-img-top" src="assets/photos/angular.png" alt="Card image" style="width:100%">
        <h6 class="card-title"><a routerLink="gig_details">Angular</a></h6>
        <p class="small">Angular is a front end javascript framework and goku duzz duzz</p>
        <p>4.2/5.0</p>
      </div>
      <div class="card gig-card" style="height: 19rem; width: 16rem;">
        <img class="card-img-top" src="assets/photos/angular.png" alt="Card image" style="width:100%">
        <h6 class="card-title"><a routerLink="gig_details">Angular</a></h6>
        <p class="small">Angular is a front end javascript framework and goku duzz duzz</p>
        <p>4.2/5.0</p>
      </div>
      <div class="card gig-card" style="height: 19rem; width: 16rem;">
        <img class="card-img-top" src="assets/photos/angular.png" alt="Card image" style="width:100%">
        <h6 class="card-title"><a routerLink="gig_details">Angular</a></h6>
        <p class="small">Angular is a front end javascript framework and goku duzz duzz</p>
        <p>4.2/5.0</p>
      </div>

    </div>
  </div>
  <div class="col-sm-5">
    <div class="card color">
      <div class="card-body  col-sm-12" style="width: 25rem;">
        <div class="card-header">
          Details:
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Total Gigs : <span>15</span></li>
          <li class="list-group-item">Orders Completed : <span>149</span></li>
          <li class="list-group-item">Average Gigs Rating : <span>4.2/5.0</span></li>
          <li class="list-group-item">Questions Posted : <span>14</span></li>
          <li class="list-group-item">Answer Posted : <span>25</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
