<div class="row">
  <div class="col-sm-7">

    <div class="row color">

      <div class="col-sm-10">
        <button type="button" class="btn btn-primary" (click)="addnewgigs()">Add New Gigs</button>
      </div>

      <div *ngFor="let g of userGigs" class="card gig-card" style="width: 13rem;">
        <img class="card-img-top" src="{{g.photo}}" alt="Card image" style="width: 13rem;">
        <hr>
        <h6 class="card-title"><a routerLink="gig_details">{{g.title}}</a></h6>
        <p class="small">{{g.description}}</p>
        <p>4.2/5.0</p>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="card color">
      <div class="card-body  col-sm-12" style="width: 25rem;">
        <div class="card-header">
          Details:
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Total Gigs : <span>{{userGigs.length}}</span></li>
          <li class="list-group-item">Orders Completed : <span>149</span></li>
          <li class="list-group-item">Average Gigs Rating : <span>4.2/5.0</span></li>
          <li class="list-group-item">Questions Posted : <span>14</span></li>
          <li class="list-group-item">Answer Posted : <span>25</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
