<div class="container ">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5" style="background-color: #EDF5E0">
        <div class="card-body">
          <h5 class="card-title text-center space">User Signup</h5>
          <form class="form-signin" (submit)="onsignup(onsignupf)" #onsignupf="ngForm">
            <div class="form-label-group password-space">
              <input type="text" id="firstname" class="form-control" placeholder="First Name" name="firstext" ngModel
                     #firstinput="ngModel" required>
            </div>
            <div *ngIf="firstinput.invalid && firstinput.dirty && firstinput.touched"
                 class="alert alert-danger">
              <div *ngIf="firstinput.errors.required">
                First Name is required.
              </div>
            </div>

            <div class="form-label-group password-space">
              <input type="text" id="lastname" class="form-control" placeholder="Last Name" name="lasttext" ngModel
                     #lastinput="ngModel" required>
            </div>
            <div *ngIf="lastinput.invalid && lastinput.dirty && lastinput.touched"
                 class="alert alert-danger">
              <div *ngIf="lastinput.errors.required">
                Last Name is required.
              </div>
            </div>

            <div class="form-label-group password-space">
              <input type="text" id="username" class="form-control" placeholder="Username" name="usertext" ngModel
                     #userinput="ngModel" required>
            </div>
            <div *ngIf="userinput.invalid && userinput.dirty && userinput.touched"
                 class="alert alert-danger">
              <div *ngIf="userinput.errors.required">
                User Name is required.
              </div>
            </div>

            <div class="form-label-group password-space">
              <input type="email" id="email" class="form-control" placeholder="Email" name="emailtext" ngModel
                     #emailinput="ngModel" required email>
            </div>
            <div *ngIf="emailinput.invalid && emailinput.dirty && emailinput.touched"
                 class="alert alert-danger">
              <div *ngIf="emailinput.errors.required">
                Email is required.
              </div>
              <div *ngIf="emailinput.errors.email">
                Email is not valid.
              </div>
            </div>

            <div class="form-label-group password-space">
              <input type="password" id="password" class="form-control" placeholder="Password" name="passtext" ngModel
                     #passinput="ngModel" required>
            </div>
            <div *ngIf="passinput.invalid && passinput.dirty && passinput.touched"
                 class="alert alert-danger">
              <div *ngIf="passinput.errors.required">
                Password is required.
              </div>
            </div>

            <div class="form-label-group password-space">
              <input type="password" id="repassword" class="form-control" placeholder="Confirm Password"
                     name="repasstext" ngModel #repassinput="ngModel" required>
            </div>
            <div *ngIf="repassinput.invalid && repassinput.dirty && repassinput.touched"
                 class="alert alert-danger">
              <div *ngIf="repassinput.errors.required">
                Re password is required.
              </div>
            </div>


            <button type="submit" style="background-color: #31708F" class="btn btn-lg btn-info btn-block btn-color choice">Sign Up</button>

            <div class="choice">
              <a routerLink="" class="password-space">&nbsp;Login</a>
            </div>
            <div style="clear: both"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
