
.form-label-group{
  margin-top: 20px;
}

.password-space{
  margin-bottom: 5px;
}
.form-signin{
  margin-: 50px;
}

.space{
  padding-top: 20px;
}
.choice{
  margin-top: 20px;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
