<div class="list-group">
  <h6 class="list-group-item active">Details:</h6>
  <li class="list-group-item">Total Gigs : {{userDetails.gigs.length}} <span></span></li>
  <li class="list-group-item">Orders Completed : {{userDetails.ordersAccepted.length}}<span></span></li>
  <li class="list-group-item">Average Gigs Rating : <span></span></li>
  <li class="list-group-item">Questions Posted : {{userDetails.questions.length}} <span></span></li>
  <li class="list-group-item">Answer Posted : {{userDetails.answers.length}}<span></span></li>
</div>
