<div class="card row">
  <div class="col-sm-12">
    <h4 >Gigs</h4>
    <div class="row" *ngIf="gigs">
      <div class="tags" align="center" style="" *ngFor="let g of gigs | paginate: { itemsPerPage: 9, currentPage: p }">
        <div class="col-sm-3">
          <div class="card" style="width:12rem;">
            <img class="card-img-top" src="{{g.photo}}" alt="Card image">
            <h5 class="list-group-item"><a routerLink="gig_details/{{g._id}}">{{g.title}}</a></h5>
            <p class="list-group-item">4.2/5.0</p>
          </div>
        </div>
      </div>
    </div>
    <div class="footer" align="center">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
